body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.header, .company-info h2 {
  background-image: url("../images/the-flatiron-building.png");
}

.header {
  height: 297px;
}

h1, a, .company-info h2, .footer {
  color: white;
}

h1 {
  font-size: 70px;
  margin-bottom: 42px;
}

.header li {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  font-size: 32px;
}

.company-info h2, .footer, h3 {
  font-size: 23px;
}

p {
  font-weight: normal;
  font-size: 14px;
}

.footer, .footer h2 {
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
}

.footer ul li, .footer h2, .footer ul, .footer nav {
  display: inline;
}
