body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.header, .footer h2 {
  background-image: url("../images/the-flatiron-building.png");
}

.header {
  height: 297px;
}

h1, a, .footer h2 {
  color: white;
}

h1 {
  font-size: 70px;
  margin-bottom: 42px;
}

.header li {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  font-size: 32px;
}

.footer h2, h3 {
  font-size: 23px;
}

p {
  font-weight: normal;
  font-size: 14px;
}

nav {
  padding: 0;
  margin: 0;
}
