body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  height: 297px;
  font-weight: bold;
}

h1, a {
  color: white;
}

h1 {
  font-size: 70px;
}

.header li {
  font-size: 18px;
}
